/* Font styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: #333;
  }
  
  /* Heading style */
  h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    font-size: 2.5em;
  }
  
  /* Center content */
  .container {
    display: flex;
    width: 100%;
  }
  .content {
    width: 75%;
    padding: 20px;
  }
  
  /* Card styling */
  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    
}

/* Custom scrollbar styling */
.card::-webkit-scrollbar {
    width: 10px; /* Adjust the width */
}
.card::-webkit-scrollbar-track {
  background-color: #f4f4f9; /* Track background color */
}

.card::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

.card::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Hover effect for the thumb */
}


  .day {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    align-self: center;
    max-width: 600px;
    margin: 10px auto;
  }
  
  /* Checkbox styling */
  .day input[type="checkbox"] {
    display: none;
  }
  .day-label {
    display: block;
    padding: 10px 0;
    cursor: pointer;
    color: #007bff;
    margin-right: 20px;
  }
  .day-content {
    display: none;
    padding-top: 10px;
  }
  .day input[type="checkbox"]:checked + .day-label + .day-content {
    display: block;
  }
  .day-label::after {
    content: " ▼";
    font-size: 12px;
  }
  .day input[type="checkbox"]:checked + .day-label::after {
    content: " ▲";
    font-size: 12px;
  }
  
  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  table, th, td {
    border: 1px solid #dee2e6;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f8f9fa;
  }
  
  /* Difficulty levels */
  .easy {
    color: green;
  }
  .medium {
    color: yellow;
  }
  .hard {
    color: red;
  }
  
  /* Attractive solve button */
  .solve-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  .solve-btn:hover {
    background-color: white;
    color: #4CAF50;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.8);
  }
  